<% include partials/header %>
    <h1>Welcome to Mars</h1>
    <% include partials/navBar %>
    <div class="container" style="margin-top:30px">
      <div class="row">
        <div class="col-sm-4 bg-dark text-white">
          <h2>Facts</h2>
          <p>The tallest mountain known in the solar system is Olympus Mons on Mars.</p>
          <p>Mars's orbit is the most eccentric of the 8 planets</p>
          <p>On Mars the sun appears to be about half of size it does on Earth.</p>
          <p>Mars doesn't have a magnetic field.</p>
          <p>Mars is named after the Roman god of war.</p>
        </div>
        <div class="col-sm-8">
          <img class="float-left img-fluid" src="/img/mars.jpg" alt="Mars" />   
        </div>
      </div>
    </div>
<% include partials/footer %>